<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <% @page.errors.full_messages.each do |msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="row field">
    <div class="span9">
    <%= f.text_field :page_id, :class => "span9", :placeholder => "Enter facebook page ID or Name..." %>
    </div>
    <div class="span3">
    <%= f.submit "Fetch It !", :class => "span3 btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
